<!DOCTYPE html>
<html lang="en">
  {% include "includes/head.html" %}

  <body>

    {% include "includes/navbar.html" %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% with msgs = get_flashed_messages(with_categories=True) %}
            {% if msgs %}
              {% for category, msg in msgs %}
                {% if category == "error" %}
                  <div class="alert alert-danger"><strong>ERROR</strong>: {{ msg }}</div>
                {% elif category == "success" %}
                  <div class="alert alert-success"><strong>SUCCESS</strong>: {{ msg }} </div>
                {% elif category == "info" %}
                  <div class="alert alert-info"><strong>INFO</strong>: {{ msg }} </div>
                {% else %}
                  <div class="alert alert-default">{{ msg }} </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>

      {% block container %}
      {% endblock %}
    </div>
    {% include "includes/scripts.html" %}
    {% block pagescripts %}{% endblock %}
  </body>
</html>




