{% extends "base.html" %}

{% block container %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Are you sure to delete the following snippet?</h3>
    </div>
    <div class="panel-body">
      <form method="POST" action="{{ url_for("snippet_delete", snippet_id=snippet._id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="row">
          <div class="col-md-12">
            <h1>{{ snippet.title }}</h1>
            {% for tag in snippet.tags %}
              <span class="label label-primary">{{ tag }}</span> 
            {% endfor %}
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-6">
            <a href="{{ url_for("snippet_view", snippet_id=snippet._id) }}" class="btn btn-default">Get me out of here!</a>
            <button class="btn btn-danger" type="submit">Yes, Delete it!</button>
          </div>
        </div>

        <br/>

        <div class="row">
          <div class="col-md-12">
            <pre style="font-size: 16px"><code class="{{ snippet.type }}">{{ snippet.text }}</code></pre>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <a href="{{ url_for("snippet_view", snippet_id=snippet._id) }}" class="btn btn-default">Get me out of here!</a>
            <button class="btn btn-danger" type="submit">Yes, Delete it!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
  <script src="/static/highlightjs/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}