{% extends "base.html" %}

{% block container %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Snippet</h3>
    </div>
    <div class="panel-body">
      <form method="POST" action="{{ url_for("snippet_edit", snippet_id=snippet._id) }}">
        <input type="hidden" name="id" value="{{ snippet._id }}">
        {{ form.csrf_token}}
        <div class="row">
          <div class="col-md-12">
            {{form.title(id="add-snippet-title", class="form-control", placeholder="Enter Title")}}
            {# <input id="add-snippet-title" name="title" class="form-control" placeholder="Enter Title" type="text" value="{{ snippet.title }}"> #}
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-12">
            {{ form.code(placeholder="Enter Code", id="code", class="form-control", cols="30", rows="10")}}
            {# <textarea name="code" placeholder="Enter Code" id="" class="form-control" name="" cols="30" rows="10">{{snippet.text}}</textarea> #}
            
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-12">
            {{ form.desc( placeholder="Description", id="desc", class="form-control", cols="30", rows="3")}}
            {# <textarea name="desc" placeholder="Description" id="" class="form-control" name="" cols="30" rows="3">{{snippet.desc}}</textarea> #}
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-4">
            {{ form.snippet_type(class="form-control", id="type")}}
          </div>
          <div class="col-md-5">
            {{ form.tags(id="tags", class="form-control", placeholder="Enter tags (comma separated)")}}

            {# <input name="tags" class="form-control" placeholder="Enter tags (comma separated)" type="text" value="{{snippet.tags|join(", ")}}"> #}
          </div>
          <div class="col-md-1">
            <button class="btn btn-success" type="submit">Edit</button>
          </div>
          <div class="col-md-1">
            <a href="{{ url_for("home") }}" class="btn btn-danger" type="submit">cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
    </div>
  </div>


{% endblock %}
